// $grids: 11.752988% 21.215139442% 16.235059761% 17.928286853% 7.96812749% 24.900398454%;
$grids: 12;
$gutters: 0;  /* 1/30 */

$tab:1024px;
$desk:70em;

// $touch: point coarse, 'no query' '.touch';